#red{
    background-color: red;
    height: 100px;
    width: 500px;

}
#blue{
    background-color: aqua;
    width: 10%;
    height: 50px;
    margin: 10px;
    padding: 10px;
}

p{
    background-color: aqua;
    width: 50vw;
    height: 50vh;
}