.container{
    height: 500px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 15px;
}

.box{
    background-color: aqua;
}

#box1{
    grid-row-start: 1;
    grid-row-end: 5;
}

#box2{
    grid-row-start: 1;
    grid-row-end: 6;
}
